<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { type Ref, inject } from 'vue'

const receiptStore = useReceiptStore()
const memberStore = useMemberStore()
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Receipt</v-card-title>
      <v-card-text class="text-right">{{ memberStore.currentMember?.name }}</v-card-text>
      <v-card-text>
        <v-table>
          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>price</th>
              <th>unit</th>
              <th>total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>
                {{ item.unit }}
              </td>
              <td>{{ item.price * item.unit }}</td>
            </tr>
          </tbody>
        </v-table>
        <div style="padding: 0 20px">
          <br />
          <v-row no-gutters>
            <v-col class="text-left"> ยอดก่อนหัก </v-col>
            <v-col class="text-right ml-auto">
              {{ receiptStore.receipt?.totalBefore }}
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col class="text-left"> ส่วนลดสมาชิก </v-col>
            <v-col class="text-right ml-auto">
              {{ receiptStore.receipt?.memberDiscount }}
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col class="text-left"> ยอดรวม </v-col>
            <v-col class="text-right ml-auto">
              {{ receiptStore.receipt?.total }}
            </v-col>
          </v-row>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green-darken-1" variant="text" @click="receiptStore.receiptDialog = false">
          ปิด
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.receiptDialog = false
              receiptStore.clear()
            }
          "
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
